body {
  text-align: center;
  background: linear-gradient(to right, #ffd89b, #19547b);
  font-family: 'Lobster', cursive;
}

#main{
  font-size: 20px;
  width: 550px;
  height: 550px;
  border-radius:50%;
  border:1px solid black;
  margin: 110px auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  background: none;
  border: none; 
  color: black;
 }

button:hover {
  cursor: pointer;
}

#br,#ses {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-around;
}

#time {
  width: 300px;
  border: 2px solid black;
  border-radius: 35px;
  margin: 10px auto;
}

#timer-label {
   font-size: 25px;
}

#time-left,#br,#ses {
  font-family: 'Lobster', cursive;
}

#controls {
  display: inline-block;
  margin-top: 20px;
}

#start_stop,#reset {
  font-size: 25px;
  font-family: 'Lobster', cursive;
}

#start_stop {
  margin-right: 70px;
}

#break-label {
  margin-top: -40px;
}